<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Ordini del cliente ' + ${customerName}">Ordini del cliente Ciccio</title>
</head>
<body>
    <h1 th:text="'Ordini del cliente ' + ${customerName}">Ordini del cliente Ciccio</h1>
    <table>
        <thead>
            <tr>
                <th>Order id</th>
                <th>Employee name</th>
                <th>Shipped date</th>
                <th>Shipper name</th>
                <th>Ship address</th>
                <th>Freight</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</body>
</html>