<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search by customer id</title>
</head>
<body>
<h1>I nostri meravigliosi ordini</h1>
<form th:action="@{/order}" method="get">
    <div>
        <label for="custId">customer Id</label>
        <select name="custId" id="custId">
            <option value="">Scegli il customer</option>
            <option th:each = "c : ${customers}" th:value="${c.custId}" th:text="${c.companyName}">Customer 0000</option>
        </select>
    </div>
    <button type="submit">Search</button>
</form>
</body>
</html>