<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cerca ordine per cliente</title>
</head>
<body>
    <h1>Cerca ordine per id del cliente</h1>
    <form th:action="@{/orders}" method = "get">
            <label for="customer-id">Seleziona il customer id</label>
            <select id="customer-id" name="customerId" th:each="c : ${customers}">
                <option th:text="${c.customerId}">1</option>
            </select>
            <button type="submit">Cerca</button>
    </form>
</body>
</html>