<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aggiungi prodotti</title>
</head>
<body>
    <header>
        <h1>Aggiungi un prodotto</h1>
    </header>
    <form th:action="@{/add-product}" th:object="${product}" method="post">
        <div>
            <label for="product-name">Product Name</label>
            <input type="text" id="product-name" th:field="*{productName}">
        </div>
        <div>
            <label for="supplier-id">Supplier id</label>
            <input type="number" id="supplier-id" th:field="*{supplierId}">
        </div>
        <div>
            <label for="category-id">Category id</label>
            <input type="number" id="category-id" th:field="*{categoryId}">
        </div>
        <div>
            <label for="unit-price">Unit price</label>
            <input type="text" id="unit-price" th:field="*{unitPrice}">
        </div>
        <div>
            <label for="discontinued">Discontinued</label>
            <input type="checkbox" id="discontinued" th:field="*{discontinued}">
        </div>
        <button type="submit">
            Search
        </button>
    </form>
</body>
</html>